*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: pointer;
}
header{
	position: fixed;
	padding: 8px 40px;
	display: flex;
	background-color: black;
	flex-wrap: wrap;
	justify-content: space-between;
	color:#abbdff;
	width: 100%;
	z-index: 5;
}
.links li{
	font-size: 1.1em;
	display: inline-block;
	color: #abbdff;
	margin: 9px 15px;
}
.links li a{
	text-decoration: none;
	color: #abbdff;
}
.links li a:hover{
	color: white;
}
.title{
	font-size: 2em;
}
.title:hover{
	transition: 0.5s;
	font-size: 2.1em;
}
.search-bar{
	position: relative;
	/*border: 2px solid red;*/	
}
.search{
	position: absolute;
	margin-top: 300px;
	width: 100%;
	/*border: 2px solid green;*/
	text-align: center;
	font-size: 1.2em;
}
.search h4{
	color: white;
	padding: 3px;
}
.input{
	font-size: 1.1em;
	padding: 5px;
	border-radius: 5px;
}
#login{
	border-radius: 20px;
	margin-top: 6%;
	padding: 10px 10px;
	animation:1s slidefade 0.2s forwards;
	background-color: black;
	color: white;
}
@keyframes slidefade{
	100%{
		margin-top: 2%;
	}
}
.hero-image{
	background-image: url(./images/main.jpg);
	width: 100%;
	background-size: cover;
	height: 600px;
}
.slogan{
	text-align: center;
	margin-top: 3em;
}
.slogan h1{
	background-color: black;
	color: white;
	padding: 10px 0px;
	margin: 50px 0px;
	font-size:40px;
}
.slogan marquee{
	background-color: black;
	color: yellow;
	padding: 10px 0px
}
.food-container{
	display: flex;
	flex-wrap: wrap;
	width: 97%;
	margin: auto;
	margin-top: 40px;
	/*border: 2px solid orange;*/
	justify-content: space-around;
}
.food-title{
	font-size: 2.8em;
	width: 95%;
}
.food-container img{
	width: 300px;
	/*border: 2px solid green;*/
}
.food{
	border: 1px solid black;
	margin: 10px;
	text-align: center;
}
.food:hover{
	transition: 0.5s;
	box-shadow: 1px 1px 3px 2px;
}
.food button{
	margin: 8px 0px;
	padding:4px 6px;
	font-size: 1.1em;
	background-color: black;
	color: white;
	border-radius: 4px;
}
.food button:hover{
	background-color:#e61e10;
}
.food h3{
	font-size: 22px;
}
@media screen and (max-width: 580px){
	.food-container img{
		width: 200px;
	}
	.food h3{
		font-size: 18px;
	}
	.food button{
		font-size: 1em;
	}
	.food-title{
		font-size: 2.5em;
	}
}